@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
}

.expanded {
  box-shadow: 3px 3px 10px 10px blue;
}

html {
  scroll-behavior: smooth;
}